/* Change default font family of our page */
* {
  font-family: 'Roboto', sans-serif;
}

h1,
h2 {
  font-family: 'Montserrat', sans-serif;
}

/* Resize the image height and width*/
img {
  height: 250px;
  width: 250px;
}

#landing {
  height: 80vh;
  /* Will center elements vertically using Flexbox */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#gallery{
  height: 75vh;
  /* Will center elements vertically using Felxbox*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  margin-bottom: 16px;
}

ul{
  list-style: none;
  padding: 0;
}

h2{
  color: #007bff; /* 007bff is a hexadecimal value that represents a color*/
}

.tools{
  padding: 25px;
  height: 200px;
  border: 5px solid #f2f2f2;
  margin: 20px;
  width: 75%;
  color: white;
}

html{
  scroll-behavior: smooth;
}

/* Overrides Bootstrap CSS rules*/
.jumbotron {
  background-color: transparent;
}